/* 

#1 stel font in

#1 kies kleuren design

#1 stel de body correct in

*/

:root {
  --font-stack-headers: "Sarabun", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  /* Default navtive stack */
  --font-stack-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --theme-color-hue: 227;
  --theme-color-xxxxx-light: hsl(var(--theme-color-hue), 100%, 97.5%);
  --theme-color-xxxx-light: hsl(var(--theme-color-hue), 100%, 96.1%);
  --theme-color-xxx-light: hsl(var(--theme-color-hue), 100%, 94.5%);
  --theme-color-xx-light: hsl(var(--theme-color-hue), 100%, 87.6%);
  --theme-color-x-light: hsl(var(--theme-color-hue), 100%, 81.6%);
  --theme-color-light: hsl(var(--theme-color-hue), 100%, 76.9%);
  --theme-color-base: hsl(var(--theme-color-hue), 100%, 100%);
  --theme-color-dark: hsl(var(--theme-color-hue), 100%, 60.8%);
  --theme-color-x-dark: hsl(var(--theme-color-hue), 10%, 52%);
  --theme-color-xx-dark: hsl(var(--theme-color-hue), 53%, 42.9%);
  --theme-color-xxx-dark: hsl(var(--theme-color-hue), 65%, 34%);
  --theme-color-xxxx-dark: hsl(var(--theme-color-hue), 70%, 26.5%);
  --theme-color-xxxxx-dark: hsl(var(--theme-color-hue), 99%, 12.9%);

  --global-border-bottom-size: 0.5rem;
}

html {
  background: var(--theme-color-xxxxx-light);
}

body {
  font: 16px/1.5 var(--font-stack-headers);
  color: var(--theme-color-xxxxx-dark);
  overflow: hidden;
}

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.c-app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(100vh - var(--global-border-bottom-size));
  border-bottom: var(--global-border-bottom-size) solid
    var(--theme-color-xxxxx-dark);
}

/* Header */
.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-color-xx-light);
  box-shadow: 0 1px 10px var(--theme-color-xxxx-dark);
}
.c-logo {
  padding: 1rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  opacity: 1;
  will-change: opacity;
  transition: opacity 300ms ease-out;
}

.c-logo:hover {
  opacity: 0.5;
}

.c-logo__img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.c-logo__text {
  font-weight: 700;
  font-size: 1.25rem;
}

/* Nav */
.c-nav {
}

.c-nav__label {
  font-weight: 700;
  margin-right: 0.5rem;
}

.c-nav__select {
  cursor: pointer;
  outline: none;
  border: 1px solid var(--theme-color-xxxxx-dark);
  border-radius: 10px;
  background: var(--theme-color-xxxx-light);
  padding: 0.25rem;
  color: var(--theme-color-xxxxx-dark);
}

.c-nav__select:active,
.c-nav__select:focus {
  box-shadow: 0 0 0 3px var(--theme-color-xxxxx-dark);
}

/* Counter */
.c-counter {
  padding-right: 2rem;
}
.c-counter__current {
  color: var(--theme-color-xxxx-dark);
  font-weight: 700;
}

/* Countries */
.c-countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  /* Todo: Stop stretching */
  /* grid-template-rows: repeat(auto); */
  background: var(--theme-color-xxx-light);
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  overflow-y: auto;
  grid-template-rows: auto;
}
.c-country {
  /* background-color: var(--theme-color-base); */
}

.c-country__hidden-input {
}

.c-country__hidden-input:checked + .c-country__label {
  opacity: 0.5;
}

.c-country__hidden-input:focus + .c-country__label {
  background-color: var(--theme-color-x-light);
}

.c-country__label {
  display: flex;
  align-items: center;
}

.c-country__flag-holder {
  --local-flag-dimension: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  width: var(--local-flag-dimension);
  height: var(--local-flag-dimension);
  overflow: hidden;

  border-radius: 50%;
}

.c-country__flag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-country__details {
  margin-left: 1rem;
}
.c-country__name {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--theme-color-xxxx-dark);
}
.c-country__native-name {
  font-size: 0.875rem;
  opacity: 0.9;
}

.c-loader {
  height: 100%;
  width: 100%;
}

.c-loader__text {
  font-size: 3rem;
}

/* Notifications */

.c-notifications {
  position: absolute;
  right: 1rem;
  top: 3.875rem; /* header hoogte */
  bottom: var(--global-border-bottom-size);
  padding-bottom: 2rem;
  max-width: 28rem;
  overflow-y: auto;
  pointer-events: none;
}

.c-notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--theme-color-xxxxx-light);
  padding: 2rem;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  pointer-events: all;
}

.c-notification + .c-notification {
  margin-top: 2rem;
}

.c-notification__message {
  font-size: 1.1rem;
  margin-right: 1rem;
}
.c-notification__button {
  --local-notification-button-size: 3rem;
  all: unset; /*Alle default styles verwijderen, pas op moet bovenaan*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.3rem;
  line-height: 1;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
}

.c-notification__button:hover {
  background-color: var(--theme-color-xx-light);
}

.c-notification__icon {
  stroke: var(--theme-color-xxxxx-dark);
  stroke-width: 2px;
}

.u-will-fade {
  opacity: 1;
  will-change: opacity;

  transition: opacity 300ms ease-in-out;
}

.c-settings {
  position: absolute;
  bottom: var(--global-border-bottom-size);
  padding-left: 1rem;
}

.c-settings__button {
  all: unset;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
  background-color: var(--theme-color-xxxxx-dark);
  cursor: pointer;
}

.c-settings__body {
  background-color: var(--theme-color-xxxxx-dark);
  border-top-right-radius: 1rem;
  padding: 1rem;
  color: white;
}

.c-settings__icon {
  width: 2rem;
}

.c-settings__label{
  margin-right: 0.5rem;
}

.u-fading-out {
  opacity: 0;
}
